{# templates/feedback/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Feedback Form{% endblock %}

{% block body %}
    <h1>Feedback Form</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Submit</button>

    {{ form_end(form) }}
{% endblock %}
